* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.body {
    display: flex;
    flex-direction: column;
    height: 100vh;
	max-height: 100vh;
}

.header{
max-height: 50px;
background-color: #cce;
}

.main{
display: flex;
    flex: 1;
	overflow: auto;
}

.left_panel{
max-width: 200px;
background-color: #cec;
overflow-y: auto;
height: 200px;
}
.left_panel ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.chat{
	flex: 1;
	background-color: #dfd;
	overflow-y: auto;
	height: 200px;
	

}
.chat-message li{
	border: 2px solid white;
  border-radius: 5px;
}


.footer{
max-height: 100px;
background-color: #ecc;
}